

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>МТТ София, Международен транспорт и туризъм...</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="keywords" content="транспорт, екскурзия, европа, превоз пътници, случаен превоз, международен транспорт, автобусен транспорт, монако, монте карло, франция, испания, германия">
        <meta name="description" content="МТТ София, Международен транспорт и туризъм...">
        <meta name="site-languages" content="English, Bulgarian">
        <meta name="author" content="www.division.bg">
        <meta name="robots" content="index,follow" />
        <meta name="revisit-after" content="7 days" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <link href="stylesheets/mtt.css" rel="stylesheet" type="text/css">
       
        
        <script src="http://www.mttsofia.com/templates/default/inc.js" language="JavaScript" type="text/javascript"></script>
        <!--[if lt IE 7]>
              <style type="text/css" media="screen">
              body {
              behavior: url(http://www.mttsofia.com/csshover.htc);
              } 
              </style>
              <![endif]-->
        <style type="text/css">
            <!--
            .style1 {font-size: 10px}
            -->
        </style>
        
        <link type="text/css" rel="stylesheet" href="./stylesheets/reserves.css" />
        <style type="text/css">
            #content input {
                border: none;
                background: transparent;
                outline: none;
            }
        </style>
        
        <link rel="icon" type="image/png" href="./images/icon.png" />
        <script type="text/javascript" src="./js/datetimepicker_css.js"></script>
        <script type="text/javascript" src="./js/prototype.js"></script>
        <script type="text/javascript" src="./js/reservation.js"></script>
    </head>
    <body>

        <div id="container">
<!--            <div id="header">
                <div class="left">
                    <h1><a href="http://www.mttsofia.com">МТТ</a></h1>
                </div>
                <div class="right">
                    <h2 style="width: 500px;">Международен транспорт и туризъм</h2>
                    <span style="width: 150px;"><a href="http://www.mttsofia.com/" class="home">Начало</a> <a href="http://www.mttsofia.com/sitemap.php" class="sitemap">Карта на сайта</a>
                        <a href="http://www.mttsofia.com/contact.php?cat=7&amp;lang=bg" class="email">Контакти</a>
                        <a href="?{{QUERY_STRING}}lang=bg" style="text-indent: 2px;  background: none;" class="lang">
                            <img src="http://www.mttsofia.com/images/toen.gif" />
                        </a>
                        <a href="?{{QUERY_STRING}}lang=en" style="text-indent: 2px; background: none;" class="lang">
                            <img src="http://www.mttsofia.com/images/tobg.gif" />
                        </a>
                    </span>
                    
                </div>
                <br clear="all" />
            </div>-->

            <div id="content">
                {{page_contents}}
            </div>
            <br clear="all" />
<!--            <div id="footer">
                
            </div>-->
        </div>

    </body>
</html>